@font-face {
    font-family: 'myFont1';
    src: url('fonts/Karla/Karla-Bold.ttf')
}

@font-face {
    font-family: 'myFont2';
    src: url('fonts/B612/B612-Bold.ttf')
}

@font-face {
    font-family: 'myFont4';
    src: url('fonts/B612/B612-Regular.ttf')
}

@font-face {
    font-family: 'myFont3';
    src: url('fonts/Karla/Karla-Regular.ttf')
}